{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "@babel",
    "react",
    "prettier",
    "better-styled-components",
    "@typescript-eslint"
  ],
  "rules": {
    "strict": "off",
    "react/jsx-uses-vars": "error",
    "react/display-name": "off",
    "prettier/prettier": "error",

    "@typescript-eslint/no-unused-vars": ["error", {
      "varsIgnorePattern": "[uU]nused",
      "argsIgnorePattern": "[uU]nused"
    }],

    // Allow the declaration of empty functions `() => {}`
    "@typescript-eslint/no-empty-function": "off",

    // Allow the use of `while (true)` loop
    "no-constant-condition": "off"
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-empty-function": "off"
      }
    }
  ],
  "globals": {
    "global": true,
    "chai": true,
    "expect": true,
    "sinon": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
