{
  "include": [
    "src/**/*.js",
    "src/**/*.jsx",
    "src/**/*.ts",
    "src/**/*.tsx"
  ],
  "extension": [".js", ".jsx", ".ts", ".tsx"],
  "exclude": [],
  "all": true,
  "reporter": [
    "text",
    "html"
  ]
}
